@media (max-width: 769px){
    .vuelos{
        width: 60%;
    }
}
@media (max-width: 600px){
    .table{
        display: none;
    }
}
@media (max-width:600px){
    .flex3{
        display: flex;
        flex-direction: column;
    }
}
@media (max-width: 900px){
    .seguinos{
        display: none;
    }
}