@import "responsive";
@import "body";
@import "img";

$colores: #ddd; 
$colores2: dodgerblue; 
$centro: center; 
$ancho: 100%;
$weight: 500;

body{
    background-image: linear-gradient(rgb(89, 157, 212), rgb(27, 125, 182));
}
header{
    .titulo{
        padding: 20px 0;
        text-align: $centro;
        font-size: 2.9em;
        list-style-type: none;
        text-shadow: 2px 1px 10px #1e272e;
        color: $colores;
    }
}
.containers .tabla{
    tr{
        line-height: 30px; 
        border-color: darkblue; 
        color: rgba(0, 0, 0, 0.849);
        font-weight: 500;
        font-size: $ancho;
        background-color: rgb(120, 202, 240); 
        text-align: $centro;
        td ol li{
            list-style-type: none; 
        }
    }
    .asistencia{
        color:#000000; 
        text-align: $centro; 
        font-family: Arial, Helvetica, sans-serif;
        font-weight: $weight; 
        border: #b3bcc4;
    }
}
.containers{
    header input{
        width: $ancho - 92%;
    }
    div{
        padding: 20px;
    }
    .contents .flexbox form{
        label{
            color: rgb(25, 14, 131);
        }
        legend{
            font-size: $ancho + 10%;
        }
    }
    .contents .flexbox aside{
        width: $ancho + 40%;
    }
}
footer{
    background-image: linear-gradient($colores2, $colores);
    .footer_flexbox{
        display: flex;
        justify-content: space-around; 
        flex-direction: row;
        line-height: $ancho + 150%;
    }
}
.flex2{
    @if 1 + 1 == 2 {
        display: flex;
        justify-content: space-around;
    }
}
.flex3{
    @if 1 + 1 == 2 {
        display: flex;
        justify-content: space-around;
    }
}
.radio{
    @if 3 > 2 {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        transform: translateY(-70%);
    }
}

.seguinos {
    line-height: $ancho + 200%;
    border: #1e272e solid 2px;
    width: $ancho - 80%;
    text-align: $centro;
    li{
        list-style-type: none;
    }
}
.titulo-test{
    text-align: $centro;
}
.descu{
    @extend .titulo-test;
}
.titulo-paquete{
    @extend .titulo-test;
    line-height: $ancho + 100%;
    text-shadow: 2px 1px 10px $colores;
}
@keyframes viaje{ 
    from {
        opacity: 00;
        transform: translateX(20px);
    }
    to{
        opacity: 100;
    }
}
.titulo-paquete h2{
    @extend .titulo-test;
    font-family: fantasy;
    color: #1e272e;
    animation-name: viaje; 
    animation-iteration-count: 1;
    animation-duration: 3s;
    animation-timing-function: ease-in;
}
@mixin peso($ancho, $weight) {
    font-size: $ancho;
    font-weight: $weight;
}
.titulo-paquete h2{
    @include peso(200%, 1000);
}

@for $i from 1 to 7 {
    .bucle:nth-child(#{$i}) {
        background-color: #18639c;
        color: black;
        font-weight: 400;
    }
}
@each $tramit in td1, td2, td3 {
    .tramit--#{$tramit}-icon {
        background-color: #18639c;
        color: #ddd;
        border: 2px solid #1e272e;
        padding: 6%;
    }
}
.viajes{
    text-align: $centro;
    table{
        background-color: darkgray;
        border: #1e272e solid 4px;
        width: $ancho + 3%;
        transform: translateX($ancho - 80%);
    }
    div{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: $ancho - 80%;
    }
}
.viajes3{
    text-align: $centro;
    div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: $ancho - 80%;
    }
}
.table{
    transition: all 2s;
    :hover{
        color: $colores;
    }
}
.hijos{
    display: flex;
    justify-content: space-between;
    gap: $ancho - 97%;
}
div label{
    color: #1e272e;
    font-weight: $weight;
}
.containers .propuestas{
    grid-column: span 6;
    color: rgb(35, 46, 6);
    font-family: Arial, Helvetica, sans-serif;
    font-size: $ancho + 20%;
    text-align: $centro;
    margin-top: $ancho - 94%;
}
.nav-item:hover{
    border-left: rgb(25, 14, 131) solid 2px;
    border-right: rgb(25, 14, 131) solid 2px;
}
.forma{
    border-left: rgb(25, 14, 131) 10px solid;
}
.offcanvas-header{
    background-color: rgb(27, 125, 182);
}