@import "responsive";
@import "tipografia";
@import "img";

$colores: #ddd; 
$colores2: dodgerblue; 
$centro: center; 
$ancho: 100%;
$weight: 500;

body{
    background-image: linear-gradient(rgb(89, 157, 212), rgb(27, 125, 182));
}
header{
    .titulo{
        padding: 20px 0;
        text-align: $centro;
        font-size: 2.9em;
        list-style-type: none;
        text-shadow: 2px 1px 10px #1e272e;
        color: $colores;
    }
}
.containers{
    .programa{
        h2{
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-weight: 900;
            font-size: $ancho + 50%;
            a{
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                font-weight: 300;
                font-size: $ancho - 20%;
            }
        }
    }
}
.containers .tabla{
    tr{
        line-height: 30px; 
        border-color: darkblue; 
        color: rgba(0, 0, 0, 0.849);
        font-weight: 500;
        font-size: $ancho;
        background-color: rgb(120, 202, 240); 
        text-align: $centro;
        td ol li{
            list-style-type: none; 
        }
    }
}
footer{
    background-image: linear-gradient($colores2, $colores);
    .footer_flexbox{
        display: flex;
        justify-content: space-around; 
        flex-direction: row;
        line-height: $ancho + 150%;
    }
}
.flex2{
    @if 1 + 1 == 2 {
        display: flex;
        justify-content: space-around;
    }
}

.radio{
    @if 3 > 2 {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        transform: translateY(-70%);
    }
}

.seguinos {
    line-height: $ancho + 200%;
    border: #1e272e solid 2px;
    width: $ancho - 80%;
    text-align: $centro;
    li{
        list-style-type: none;
    }
}
.titulo-test{
    text-align: $centro;
}
.titulo-paquete{
    @extend .titulo-test;
    line-height: $ancho + 100%;
    text-shadow: 2px 1px 10px $colores;
}
.titulo-paquete h2{
    @extend .titulo-test;
    font-family: fantasy;
    color: #1e272e;
}
@mixin peso($ancho, $weight) {
    font-size: $ancho;
    font-weight: $weight;
}
.titulo-paquete h2{
    @include peso(200%, 1000);
}

@for $i from 1 to 7 {
    .bucle:nth-child(#{$i}) {
        background-color: #18639c;
        color: black;
        font-weight: 400;
    }
}
@each $tramit in td1, td2, td3 {
    .tramit--#{$tramit}-icon {
        background-color: #18639c;
        color: #ddd;
        border: 2px solid #1e272e;
        padding: 6%;
    }
}

